@model BankOfSimba.ViewModels.AccountsViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bank of Simba</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Balance</th>
            <th>Currency</th>
            <th>AnimalType</th>
            <th>Status</th>
        </tr>
        @{int indexCounter = 0; }
        @foreach (var account in Model.AccountList)
        {
            indexCounter++;
            <tr>
                <td>@indexCounter</td>
                <td>@account.Name</td>
                <td>@account.Balance</td>
                <td>@account.Currency</td>
                <td>@account.AnimalType</td>
                <td>
                    @{ if (account.Name == "Simba")
                        {
                            <span style="color:orangered">K.I.N.G.</span>
                        }
                        else
                        {
                            @:peasant
                        }
                    }
                </td>
            </tr>

        }
    </table>
</body>
</html>
