@model BankOfSimba.Models.BankAccount
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bank of Simba</title>
</head>
<body>
    @{
        <h1>@Model.Name</h1>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Balance</th>
                <th>Currency</th>               
                <th>AnimalType</th>
                <th>Status</th>
                <th>Affiliation</th>
            </tr>
            <tr>
                <td>@Model.Name</td>
                <td>@Model.Balance</td>
                <td>@Model.Currency</td>
                <td>@Model.AnimalType</td>
                <td><span style="color:orangered">K.I.N.G.</span></td>
            </tr>

        </table>
    }
</body>
</html>